{% from "macros/unique-card.njk" import uniqueCard %}
{% from "macros/augment-cards.njk" import socketablesSection %}
<div class="gem-detail item-detail" data-item-slug="{{ vm.slug }}">
  {{ uniqueCard(vm) }}
  {{ socketablesSection(vm.augments) }}
</div>
