{% extends "base.njk" %}
{% block content %}
<div class="page page--column">
  <h1 class="home-title">
    Path of Exile 2 Wiki
  </h1>
  {% if notFound %}<p>No result found for "{{ notFound }}".</p>{% endif %}
  <p>Search for a skill gem or unique item above.</p>
  <div class="home-links">
    <a class="home-link--gem" href="/gems#herald-of-ash">Herald of Ash (gem)</a>
    <a class="home-link--unique" href="/uniques">Browse Unique Items →</a>
    <a class="home-link--normal" href="/bases">Browse Modifiers →</a>
    <a class="home-link--normal" href="/passives">Passive Tree →</a>
  </div>
</div>
{% endblock %}
