@font-face {
  font-family: 'FontinSmallCaps';
  src: url('https://web.poecdn.com/font/fontin-smallcaps-webfont.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'FontinRegular';
  src: url('https://web.poecdn.com/font/fontin-regular-webfont.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'OptimusPrincepsSemiBold';
  src: url('https://web.poecdn.com/font/OptimusPrincepsSemiBold.ttf') format('truetype');
  font-display: swap;
}
